#sign{
    justify-content: center;
    display: flex;
    background-image:url('../images/sign-bg.jpg');
    font-family: 'Rock Salt', cursive;
    font-size:12px;
    color: rgba(0, 0, 0, 0.719);
}

#protester{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}

#timer{
    font-size: 20px;
}

#desc{
    font-size: 14px;
}